html{
    font-family: Poppins, sans-serif;
}

header{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.nav_links{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.pricing{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header img{
    width: 100%;
    height: auto;
    animation: fadeIn 3s;
}

.card{
    width: 100%;
}

img{
    width: 100%;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (prefers-reduced-motion){
    header img{
        animation: none;
    }
}

@media all and (min-width: 700px){ /*desktop view*/
    header img{
        width: 400px;
        height: auto;
        left: 0;
    }

    header{
        flex-direction: row;
    }

    .nav_links{
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .pricing{
        flex-direction: row;
    }

    .gallery{
        flex-direction: row;
    }

    .card{
        width: 300px;
    }

    img{
        width: 300px;
    }
}
