/*Skip to main function*/
.skip a{
    position: absolute;
    top: -40px;
    z-index: 1;
    color: black;
}

.skip a:focus{
    position: absolute;
    top: 0;
    color: black;
}

body{
/*
    background: radial-gradient(circle at 60% 90%, rgb(243, 175, 116), transparent 40%),
    radial-gradient(circle at 20px 20px, rgba(237, 215, 149, 0.8), transparent 15%), #e38e8e;
*/
	background-color: #FFF4D6;
	display: grid;
	grid-template-columns: repeat(4, 25%);
    /*background:
    radial-gradient(circle, transparent 20%, rgb(144, 155, 211) 20%, rgb(144, 155, 211) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, rgb(144, 155, 211) 20%, rgb(144, 155, 211) 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
    background-color: rgb(144, 155, 211);
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;*/
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header{
	grid-row-start: 1;
	grid-column: 1/-1;
	animation: fadeIn 3s;
}

@media (prefers-reduced-motion){
    header{
        animation: none;
    }
}

main{
	grid-row: 2/7;
	grid-column:1/-1;
}

h1{
	position: relative;
    font-family: "Sofia", sans-serif; /* Copperplate, "Copperplate Gothic Light", fantasy;*/
	font-style: italic;
    font-size: 40px;
    color:#FFFF6B;
/*    background: linear-gradient(180deg, rgb(187, 7, 7) 0%, rgb(189, 87, 87) 35%, rgb(246, 228, 175) 100%);*/
	background: linear-gradient(90deg, rgb(246, 228, 175) 0%, #AC0606 30%, #AC0606 70%, rgb(246, 228, 175) 100%);
    padding: 20px;
    margin: 0px;
    text-align: center;
    text-shadow: 3px 4px 2px rgba(170, 90, 15, 0.7);
}

h2{
    font-family:"Lucida Bright", Georgia, serif;
    font-size: 25px;
    font-weight: bold;
    color:#673613;
	background: linear-gradient(90deg, rgba(251,232,64,0.45) 0%, rgba(251,232,64,0.2) 50%, rgba(251,232,64,0) 100%);
    padding: 20px;
    margin: 0px;
    text-shadow: 1px 1px 1px rgba(52, 28, 1, 0.7);
}

h3{
	font-family:"Lucida Bright", Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    color: #7E4401;
    padding: 10px;
    margin: 10px;
/*    text-shadow: 1px 1px 1px rgba(52, 28, 1, 0.7);*/
}

ul{
	list-style-type: circle;
}

.intro_content{
	position: relative;
}

.rice_intro{
	position: relative;
}

.buns_intro{
	position: relative;
}

.dish_intro{
	position: relative;
}

.rice_intro::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/rice_background.png");
	background-size: cover;
	background-position: top;
	opacity: 0.5;
}

.buns_intro::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/buns_background.png");
	background-size: cover;
	background-position: 80%;
	opacity: 0.5;
}

.dish_intro::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/dish_background.png");
	background-size: cover;
	background-position: center;
	opacity: 0.5;
}

.ingredients{
	font-family: "Lucida Bright", Georgia, serif;
    font-size: 18px;
    margin: 10px 10px 10px 30px;
    padding: 10px;
    line-height: 22px;
	grid-column-start: 1;
}

p{
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}

.timer{
	font-family: "Lucida Bright", Georgia, serif;;
	font-size: 19px;
	margin: 0;
	padding: 10px;
    line-height: 22px;
	background: rgba(255, 255, 255, 0.2);
}

label{
	font-family: "Lucida Bright", Georgia, serif;
    font-size: 18px;
	margin: 10px;
    padding: 10px;
	line-height: 20px;
}

.inBold{
    font-weight: bold;
}

.inItalic{
    font-style: italic;
}

img{
    width: 50%;
    min-width: 100px;
    /*border: 10px dashed #fb8320;*/
    border: 15px solid transparent;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255,255,255,0.4)) padding-box, repeating-linear-gradient(-45deg, rgb(190, 101, 24) 0, rgb(190, 101, 24) 12.5%, transparent 0, transparent 25%, rgb(247, 214, 115) 0, rgb(247, 214, 115) 37.5%, transparent 0, transparent 50%) 0 / 50px 50px;
    margin: 15px;
    padding: 5px;
}

img:hover{
    opacity: 0.6;
}

#home-photo{
	text-align: center;
}

nav{
    font-family: "Lucida Bright", Georgia, serif;;
    font-size: 18px;
    margin: 10px 10px 10px 20px;
    padding: 10px;
}

a:link{
    color:#005885;
}

a:visited{
    color:#8800A3;
}

a:hover{
    color:#A80000;
}

.active{
    color: #006118;
    font-weight: bold;
}

#home-aside{
	background-color: rgba(248,203,128,0.57);
	font-size: 18px;
	font-style: italic;
	grid-row: 7;
	grid-column: 1/-1;
	float: right;
}

footer{
    font-family: "Lucida Bright", Georgia, serif;;
    font-size: 12px;
    color:#694949;
    margin: 10px;
    padding: 10px;
    line-height: 15px;
	grid-column: 1/-1;
	grid-row: 8;
}

.photos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.gallery{
	margin: 20px;
    padding: 20px;
	text-align: center;
}

figcaption{
	font-family: "Lucida Bright", Georgia, serif;;
    font-size: 18px;
    margin: 0px 0px 20px 30px;
    padding: 0px;
    line-height: 22px;
	text-align: center;
}

.painting {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.video{
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.options{
  align-items: center;
  background: linear-gradient(to right, rgba(248,203,128,0.57), transparent);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50px auto min(115px);
  padding: .5rem;
}

button {
  border: 0;
  background: #AC154D;
  display: inline;
  color: white;
  order: 1;
  padding: .5rem;
  transition: opacity .25s ease-out;
  width: 100%;
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

label {
  order: 2;
  text-align: center;
}

/* Fallback stuff */
progress[value] {
  appearance: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0,.25) inset;
  color: dodgerblue;
  display: inline;
  height: 15px;
  order: 1;
  position: relative;
  width: 100%;
}

/* WebKit styles */
progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0,.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    #ff8a00, #e52e71
  );
  border-radius: 3px;
  position: relative;
  transition: width 1s linear;
}

/* Firefox styles */
progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(
    to right,
    #ff8a00, #e52e71
  );
  border-radius: 3px;
  position: relative;
  transition: width 1s linear;
}

#send{
	width: 10%;
	margin-left: 15px;
}

/*tablet view*/
@media all and (min-width: 768px){
	#home-photo{
		text-align: left;
		margin-left: 30px;
	}
	#home-aside{
		margin-left: 70px;
		margin-top: 100px;
		background-color: rgba(247,198,146,0.61);
		font-size: 18px;
		font-style: italic;
		grid-row: 3;
		grid-column: 3;
		float: right;
	}
	
	progress[value]{
		width: 60%;
	}
	
	.painting{
		width: 60%;
	}
	
	.gallery{
		flex-basis: 350px;
	}
	
	.gallery img{
		height: 350px;
		width: 100%;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 5px;
	}
}


/*desktop view*/
@media all and (min-width: 1024px){
	progress[value]{
		width: 50%;
	}
	
	.painting{
		width: 50%;
	}
	
	.gallery{
		flex-basis: 250px;
	}
	
	.gallery img{
		height: 250px;
		width: 100%;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 5px;
	}
}
